


<p id="notice"><%= notice %></p>

<div class="center-align">
<p>
  <% tails = @brain.tails %>

  <% tails.order(:cached_votes_total => :desc).each do |tail| %>
  <br>
    <%= @brain.description %>...
    <%= tail.description %>
    <%= link_to like_tail_path(tail), class:"like-btn", method: :put, remote: :true do %>
    <div>
      <span><p><i class="fa fa-thumbs-o-up" style="font-size:30px"></i></p><span class="likes-count"><%= tail.get_upvotes.size %> </span></span>
    </div>

    <br>
  <% end %>


  <% end %>
</p>

<!-- <%= link_to 'Edit', edit_brain_path(@brain) %> | -->
<%= link_to 'Back', root_path %>
</div>
